Repository kubernetes-sigs/node-feature-discovery-operator, pull requests merged in 2021-06, with the labels that each got.

#71 docs: show full version number in sidebar
  docs/_config.yml
  docs/_includes/class/sidebar-wrap.liquid
Labels: approved, cncf-cla: yes, lgtm, size/XS

#72 backports: documentation wireframe for release-0.2 branch
  .github/workflows/gh-pages.yml
  Makefile
  docs/404.html
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/class/addons-wrap.liquid
  docs/_includes/class/sidebar-wrap.liquid
  docs/index.md
  docs/mdl-style.rb
  scripts/github/update-gh-pages.sh
  scripts/test-infra/build-gh-pages.sh
  scripts/test-infra/mdlint.sh
Labels: approved, cncf-cla: yes, lgtm, size/XL

#73 scripts/github/update-gh-pages: tolerate non-annotated tags
  scripts/github/update-gh-pages.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#75 Backport documentation pages
  README.md
  docs/_config.yml
  docs/advanced/developer-guide.md
  docs/advanced/index.md
  docs/advanced/nodefeaturediscovery.md
  docs/contributing/index.md
  docs/get-started/index.md
  docs/get-started/introduction.md
  docs/get-started/quick-start.md
  docs/index.html
  docs/index.md
Labels: approved, cncf-cla: yes, lgtm, size/L
